* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.calculator {
  border: 1px solid red;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.calculator * {
  border: 1px solid green;
}

.display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.display .value {
  flex-grow: 1;
}

.keyboard {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}

.keyboard * {
  flex-grow: 1;
}

.fifth-row {
  background-color: blue;
  display: flex;
}

.fifth-row * {
  flex-grow: 1;
}

.fifth-row .zero {
  flex-grow: 2;
}
