* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 30px;
  font-weight: 400;
}

.calculator {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 80px);
  gap: 2px;
}

.calculator * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  grid-column: 1 / -1;
  font-size: 50px;
  font-weight: 500;
  padding-right: 20px;
  justify-content: right;
}

.zero {
  grid-column: 1 / 3;
}
